<h1>Actors</h1>

<table class=" table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= link_to actor.name, actor %></td>
        <td><%= actor.date_of_birth %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor', new_actor_path %>
