
= form_for [commentable, Comment.new], html: {class: 'form-horizontal'} do |f|
	
	.form-group
	.col-sm-3
	= f.text_area :body, placeholder: "Add a comment", class: "form-control"

	.form-group
	= f.submit "Add comment", class: "btn btn-default"		 	