<h1>Directors</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Place of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><%= link_to director.name, director %></td>
        <td><%= director.date_of_birth %></td>
        <td><%= director.place_of_birth %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Director', new_director_path %>
