.less-margin
  .jumbotron.text-center
    .vertical
      %h1
        %b Find your favourite film
      %p this is the biggest film base on the world
      = link_to "ALL MOVIES", films_path, class: "btn btn-primary" 
